<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <!-- ===================================================== -->
    <!-- Service Config -->
    <!-- ===================================================== -->
    <property name="DEFAULT_SERVICE_PATTERN"
              value="[%-16X{traceId:--}] %-12X{clientId:--} %-16X{method:--} %-25logger{0} %msg"/>

    <!-- ===================================================== -->
    <!-- Common Config -->
    <!-- ===================================================== -->

    <!-- JUL/JDK14 to Logback bridge -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- Service Log.
         The log creates a new file for a given day every 250MB, and keeps a maximum of 5 days of logs.
         The total number of log files varies depending on the size of each days' logs.
    -->
    <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.service.output:-service.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.service.output:-service.log}.%d.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- Create a new file for a given day's log every 250MB -->
                <maxFileSize>250MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- Keep 5 days of logs on disk -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %.-3level \(%thread\) ${DEFAULT_SERVICE_PATTERN}%n</pattern>
        </encoder>
    </appender>

    <!-- ===================================================== -->
    <!-- Primary Async Appenders -->
    <!-- ===================================================== -->

    <property name="async_queue_size" value="${queue.size:-50000}"/>
    <property name="async_max_flush_time" value="${max.flush.time:-0}"/>

    <appender name="ASYNC-SERVICE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>${async_queue_size}</queueSize>
        <maxFlushTime>${async_max_flush_time}</maxFlushTime>
        <appender-ref ref="SERVICE"/>
    </appender>

    <!-- ===================================================== -->
    <!-- Package Config -->
    <!-- ===================================================== -->

    <!-- Per-Package Config -->
    <logger name="com.twitter" level="info"/>
    <logger name="com.twitter.wilyns" level="warn"/>
    <logger name="com.twitter.finagle.mux" level="warn"/>
    <logger name="com.twitter.finagle.serverset2" level="warn"/>
    <logger name="com.twitter.logging.ScribeHandler" level="warn"/>
    <logger name="com.twitter.scrooge.frontend.Importer$" level="error"/>
    <logger name="com.twitter.zookeeper.client.internal" level="warn"/>

    <!-- From SlickLoggingConfigurable -->
    <logger name="slick" level="info"/>
    <logger name="com.mchange.v2.resourcepool.BasicResourcePool" level="info"/>
    <logger name="com.mchange.v2.c3p0.impl.NewProxyPreparedStatement" level="warn"/>
    <logger name="slick.util.SlickLogger" level="debug"/>
    <logger name="slick.jdbc.JdbcBackend.statement" level="debug"/>
    <logger name="slick.jdbc.JdbcBackend.benchmark" level="debug"/>
    <logger name="slick.util.AsyncExecutor" level="debug"/>

    <!-- Root Config -->
    <root level="${log_level:-INFO}">
        <appender-ref ref="ASYNC-SERVICE"/>
    </root>

</configuration>
